<!DOCTYPE html>
<html lang="en" >
<head >
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="lib/angular.js"></script>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope,$http,$location) {
            $scope.user = {
                username:'zhch',
                password:'123456'
            };
            var url = "action/login/";
            $scope.login = function () {
                $http.post(url, $scope.user).success(function (data) {
                    alert(data);
                    window.location = "admin/admin.html";
                })
            }
        });
    </script>
</head>
<body ng-app="myApp">
    <form ng-controller="myCtrl" ng-submit="login()">
        <input ng-model="user.username">
        <input ng-model="user.password">
        <button type="submit">LOG IN</button>
    </form>


</body>

</html>